/* 
    Document   : drawsomething
    Created on : 6-aug-2013, 16:18:06
    Author     : jhonmajoor
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: #f5f5f5;
}

#board {
    margin: 0 auto;
    width: 900px;
}

#drawCanvas {
    box-shadow: 2px 2px 3px rgba(65,65,65,0.5);
}

canvas {
    background: #fff;
}