#go-drawchim {
    margin: 0;
    background-color: $canvas-background;
}

#clear {
    position: fixed;
    display: block;
    right: 2%;
    top: 10px;
    width: 44px;
    height: 44px;
    // background: red;
    background-image: url('../img/svg/icon-delete.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
}

#overview-canvases {
    position: fixed;
    display: block;
    left: 2%;
    bottom: 10px;
    height: 44px;
    z-index: 3;
}

#app-settings {
    position: fixed;
    display: block;
    right: 2%;
    bottom: 10px;
    height: 44px;
    z-index: 3;
}

#app-canvas {
    position: relative;
    background-color: $canvas-background;
    @include display(flex);

    canvas {
        position: absolute;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .1);
        @include flex(1);
        @include transform(translateY(0%) scale(1));
        @include transition(all .1s ease-in-out);

        &.is-active {
            @include animation(fadeInDownBig .5s ease-out);
        }
    }

    &.is-active {
        canvas {
            @include transform(translateY(-5%) scale(.6));
        }

        #stain-pallet {
            opacity: 0;
        }
    }
}
