$color-pri:                         #3A3844 !default;
$color-sec:                         #24262F !default;

$base:                              $color-sec !default;

// base
$mobile-min-width:                  300px !default;
$canvas-background:                 #F4F4F4 !default;
